body {
  margin: 0;
  background-color: rgb(150, 149, 149);
}
h1 {
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgb(231, 190, 224);
  height: 100%;
}
.underline {
  border: 4px solid rgb(0, 0, 0);
  border-radius: 5px;
}
